<a href="https://colab.research.google.com/github/adeshshah2912/DS_Python/blob/main/Assignment_15_Random_Forest_fraud_check.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Bagged Decision Trees for Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
filename = '/content/Fraud_check.csv'
df = read_csv(filename)
df.head()

  Undergrad Marital.Status  ...  Work.Experience  Urban
0        NO         Single  ...               10    YES
1       YES       Divorced  ...               18    YES
2        NO        Married  ...               30    YES
3       YES         Single  ...               15    YES
4        NO        Married  ...               28     NO

[5 rows x 6 columns]

In [4]:
df['TaxInc'] = df.Taxable_Income.map(lambda x: 1 if x<30000 else 0)

In [5]:
label_encoder = preprocessing.LabelEncoder()
df['Undergrad']= label_encoder.fit_transform(df['Undergrad'])
df['Marital.Status']= label_encoder.fit_transform(df['Marital.Status'])
df['Urban']= label_encoder.fit_transform(df['Urban'])

In [6]:
# Normalization function 
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)

In [7]:
# Normalized data frame (considering the numerical part of data)
df = norm_func(df.iloc[:,0:])

In [8]:
df.head()

   Undergrad  Marital.Status  Taxable_Income  ...  Work.Experience  Urban  TaxInc
0        0.0             1.0        0.656468  ...         0.333333    1.0     0.0
1        1.0             0.0        0.264428  ...         0.600000    1.0     0.0
2        0.0             0.5        0.300415  ...         1.000000    1.0     0.0
3        1.0             1.0        0.448436  ...         0.500000    1.0     0.0
4        0.0             0.5        0.792258  ...         0.933333    0.0     0.0

[5 rows x 7 columns]

In [9]:
df.drop(labels='Taxable_Income', axis=1, inplace=True)

In [10]:
cols = list(df.columns)
cols

['Undergrad',
 'Marital.Status',
 'City.Population',
 'Work.Experience',
 'Urban',
 'TaxInc']

In [11]:
cols.remove('TaxInc')
cols

['Undergrad', 'Marital.Status', 'City.Population', 'Work.Experience', 'Urban']

In [12]:
x = df[cols]
y = df.TaxInc

In [13]:
df.TaxInc.value_counts()

0.0    476
1.0    124
Name: TaxInc, dtype: int64

In [14]:
df.head()

   Undergrad  Marital.Status  City.Population  Work.Experience  Urban  TaxInc
0        0.0             1.0         0.139472         0.333333    1.0     0.0
1        1.0             0.0         0.622394         0.600000    1.0     0.0
2        0.0             0.5         0.772568         1.000000    1.0     0.0
3        1.0             1.0         0.962563         0.500000    1.0     0.0
4        0.0             0.5         0.010081         0.933333    0.0     0.0

In [16]:
array = df.values
X = array[:,0:5]
Y = array[:,5]
seed = 7

kfold = KFold(n_splits=10, random_state=seed)
cart = DecisionTreeClassifier()
num_trees = 100
model = BaggingClassifier(base_estimator=cart, n_estimators=num_trees, random_state=seed)
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.7383333333333333

In [17]:
# Random Forest Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

X = array[:,0:5]
Y = array[:,5]
num_trees = 100
max_features = 3
kfold = KFold(n_splits=10, random_state=7)
model = RandomForestClassifier(n_estimators=num_trees, max_features=max_features)
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean())

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

0.75

In [19]:
# AdaBoost Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import AdaBoostClassifier

X = array[:,0:5]
Y = array[:,5]

num_trees = 10
seed=7
kfold = KFold(n_splits=10, random_state=seed)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=seed)
results = cross_val_score(model, X, Y, cv=kfold)
print(results.mean()*100)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

79.16666666666666

In [20]:
# Stacking Ensemble for Classification
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier


X = array[:,0:5]
Y = array[:,5]

kfold = KFold(n_splits=10, random_state=7)

# create the sub models
estimators = []
model1 = LogisticRegression(max_iter=1500)
estimators.append(('logistic', model1))
model2 = DecisionTreeClassifier()
estimators.append(('cart', model2))
model3 = SVC()
estimators.append(('svm', model3))

# create the ensemble model
ensemble = VotingClassifier(estimators)
results = cross_val_score(ensemble, X, Y, cv=kfold)
print(results.mean()*100)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

79.33333333333333